
%form{:action => "/node", :method => "post"}
    %h3 Attributes
    %ul#attributes
        %input{:type => "hidden", :name => "_rev", :value => @rev}

            %li
                %label{:for => "hostname"}
                    Hostname 
                    %input{:name => "hostname", :value => @hostname}

            - (@attributes).each do |attr|
                %li
                    %label{:for => "#{attr[0]}"}
                        %span{:class => "del_link", :id => "del_#{attr[0]}"}
                            X
                            :javascript
                                $("#del_#{attr[0]}").click( function() {   
                                    if ( confirm("Are you sure you want attribute '#{attr[0]}' removed?")) {
                                        $(this).parents('li').remove();
                                    }
                                });
                        "
                        %span{:class => "editable"}= attr[0]
                        "
                        
                        %input{:name => attr[0], :value => attr[1]}

    #add_link 
        %a{:href => "#"} Add attribute

    %h3 Classes
    .selects
        %select{:class => "listselect", :name => "classes[]", :selected => "#{@my_classes}"}(multiple=true)
            - (@classes).each do |class_obj|
                %option{:value => "#{class_obj}"}= class_obj
    
    %h3 Terminus
    #terminus
        %pre{:id => "terminus_preview"}
            [New node: NO TERMINUS DATA]
    - if(@hostname)
        :javascript
            $.ajax({
                url: "/terminus/?id=#{@hostname}",
                success: function(data){
                    $("#terminus_preview").html(data);
                }        
            });    
    
    %input{:type => "submit", :value => "Save", :id => "save"}
    
    .clear

:javascript
    $("#add_link").click( function() {   
        var span = "<span class='editable'>NEW</span>"
        var input = "<input name='new'>"
        var label = "<label for='new'>\" " + span + " \" " + input + "  </label>";
     
        $("#attributes").append("<li> " + label + " </li>")
    });
    
:javascript
    $(function() {
        $('.editable').inlineEdit({
            save: function(e, data) {
                $(this).parent().children('input').attr("name", data.value)
            }
        });
    });

:javascript
    $(document).ready(function(){
        $(".listselect").listselect();
    });

