
%form{:action => "/class", :method => "post"}
    %h3 Attributes
    %ul#attributes
        %input{:type => "hidden", :name => "_rev", :value => @rev}

            %li
                %label{:for => "classname"}
                    Class name 
                    %input{:name => "classname", :value => @classname}

            - (@attributes).each do |attr|
                %li
                    %label{:for => "#{attr[0]}"}
                        %a{:href => "#", :id => "del_#{attr[0]}"}
                            %img{:src => "/images/delete.gif"}
                        :javascript
                            $("#del_#{attr[0]}").click( function() {   
                                if ( confirm("Are you sure you want attribute '#{attr[0]}' removed?")) {
                                    $(this).parents('li').remove();
                                }
                            });
                        
                        "
                        %span{:class => "editable"}= attr[0]
                        "
                        
                        %input{:name => attr[0], :value => attr[1]}


   
    %input{:type => "submit", :value => "Save", :id => "save"}
        
#add_link 
    %a{:href => "#"} Add attribute


:javascript
    $("#add_link").click( function() {   
        var span = "<span class='editable'>NEW</span>"
        var input = "<input name='new'>"
        var label = "<label for='new'>\" " + span + " \" " + input + "  </label>";
     
        $("#attributes").append("<li> " + label + " </li>")
    });
    
:javascript
    $(function() {
        $('.editable').inlineEdit({
            save: function(e, data) {
                $(this).parent().children('input').attr("name", data.value)
            }
        });
    });



