%ul    
    - (@nodes).each do |node|
        %li 
            %a{:href => "#", :class => "del_link", :id => "del_#{node}"}
                %img{:src => "/images/delete.gif"}
            :javascript
                $("#del_#{node}").click( function() {   
                    if ( confirm("Are you sure you want node '#{node}' removed?")) {
                        document.location.href='/delete_node?id=#{node}';
                    }
                });

            %strong
                %a{:href => "/node?id=#{node}"}= node

%a{:href => '/node'} add a node